@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centre Medical</h1>
    <p>Bienvenue sur Medico Web </p>
   

<div class="row">
    <div class="col-md-4">

        <h2>prenez rendez-vous</h2>

        <p><a class="btn btn-default" href="a "> Consultez l'agenda &raquo;</a></p>
    </div>  
        
        
    
    <div class="col-md-4">
        <h2>Forum</h2>
        <p><a class="btn btn-default" href="">Posez vos questions &raquo;</a></p>
    </div>  
      
    <div class="col-md-4">
        <h2>Pharmacie </h2>
        <p><a class="btn btn-default" href="">Faites vos courses &raquo;</a></p>
    </div>
</div>
</div>