USE [MedicoDb]
GO
ALTER TABLE [dbo].[Horaire] DROP CONSTRAINT [chkDay]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 7/11/2016 16:19:56 ******/
DROP TABLE [dbo].[Patient]
GO
/****** Object:  Table [dbo].[Horaire]    Script Date: 7/11/2016 16:19:56 ******/
DROP TABLE [dbo].[Horaire]
GO
USE [master]
GO
/****** Object:  Database [MedicoDb]    Script Date: 7/11/2016 16:19:56 ******/
DROP DATABASE [MedicoDb]
GO
/****** Object:  Database [MedicoDb]    Script Date: 7/11/2016 16:19:56 ******/
CREATE DATABASE [MedicoDb];
 
USE [MedicoDb]
GO
/****** Object:  Table [dbo].[Horaire]    Script Date: 7/11/2016 16:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horaire](
	[IdHoraire] [int] IDENTITY(1,1) NOT NULL,
	[Jour] [nvarchar](8) NOT NULL,
	[DebMat] [time](7) NOT NULL,
	[FinMat] [time](7) NOT NULL,
	[DebAprem] [time](7) NOT NULL,
	[FinAprem] [time](7) NOT NULL,
	[DebDate] [date] NOT NULL,
	[FinDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHoraire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patient]    Script Date: 7/11/2016 16:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Date de naissance] [date] NOT NULL,
	[Adresse] [varchar](50) NOT NULL,
	[Sex] [bit] NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Adresse_Email] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[Horaire] ON 

GO
INSERT [dbo].[Horaire] ([IdHoraire], [Jour], [DebMat], [FinMat], [DebAprem], [FinAprem], [DebDate], [FinDate]) VALUES (1, N'lUNDI', CAST(0x070040230E430000 AS Time), CAST(0x0700AC5264600000 AS Time), CAST(0x070048F9F66C0000 AS Time), CAST(0x07004C64EB810000 AS Time), CAST(0x083C0B00 AS Date), CAST(0x423C0B00 AS Date))
GO
INSERT [dbo].[Horaire] ([IdHoraire], [Jour], [DebMat], [FinMat], [DebAprem], [FinAprem], [DebDate], [FinDate]) VALUES (4, N'Mardi', CAST(0x070040230E430000 AS Time), CAST(0x0700AC5264600000 AS Time), CAST(0x070048F9F66C0000 AS Time), CAST(0x07004C64EB810000 AS Time), CAST(0x083C0B00 AS Date), CAST(0x423C0B00 AS Date))
GO
INSERT [dbo].[Horaire] ([IdHoraire], [Jour], [DebMat], [FinMat], [DebAprem], [FinAprem], [DebDate], [FinDate]) VALUES (6, N'Mercredi', CAST(0x070040230E430000 AS Time), CAST(0x0700AC5264600000 AS Time), CAST(0x070048F9F66C0000 AS Time), CAST(0x07004C64EB810000 AS Time), CAST(0x083C0B00 AS Date), CAST(0x423C0B00 AS Date))
GO
SET IDENTITY_INSERT [dbo].[Horaire] OFF
GO
ALTER TABLE [dbo].[Horaire]  WITH CHECK ADD  CONSTRAINT [chkDay] CHECK  (([Jour]='Samedi' OR [Jour]='Vendredi' OR [Jour]='Jeudi' OR [Jour]='Mercredi' OR [Jour]='Mardi' OR [Jour]='Lundi'))
GO
ALTER TABLE [dbo].[Horaire] CHECK CONSTRAINT [chkDay]
GO
USE [master]
GO
